.container {
    margin: 20px 30px;

}

.nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .logo h1 {
    font-size: 20px;
    margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
}

.list-menu {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.list-menu li {
   display: flex;
   justify-content: space-evenly;
   padding: 15px;
   font-size: 15px;
   font-weight: 400;
}

.list-menu li.sobre {
    /* width: 55px; */
    background-color: #5BC241;
    color: #ffffff;
}

.list-menu  a {
    cursor: pointer;
}

.menu .cadastrar {
    width: 127px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #5BC241;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

@media (max-width: 768px) {
    .container {
        margin-top: 50px;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav .logo h1 {
        font-size: 40px;
    }
    .menu {
        flex-direction: column;
    }
    .list-menu {
        flex-direction: column;
    }
    .list-menu li {
        font-size: 40px;
    }
    .list-menu .sobre {
        width: 200px;
    }

    .cadastrar {
        height: 50px;
        font-size: 18px;
    }
}